<h2>Monitoring</h2>
<div class="table-responsive small">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th scope="col">Waktu</th>
        <th scope="col">Suhu</th>
        <th scope="col">Kecepatan Angin</th>
        <th scope="col">Kelembaban Tanah</th>
        <th scope="col">Curah Hujan</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1,001</td>
        <td>random</td>
        <td>data</td>
        <td>placeholder</td>
        <td>text</td>
      </tr>
    </tbody>
  </table>
</div>
