<h2>Kontrol Pengukuran</h2>




<div class="table-responsive small">
  <table class="table table-borderless">
    <thead>
      <tr>
        <th scope="col" class="text-md-center">Sensor Mati</th>
        <th scope="col">
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
          </div>
        </th>
        <th scope="col" class="text-md-left">Sensor Hidup</th>
      </tr>
    </thead>
  </table>
</div>
